@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background: #16161A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

header {
    padding: 10px
}

#navegacion {
    width: 100vw;
    height: 69px;
    left: 0;
    background: #232E35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-top #contenido-contenedor-top {
    width: 100%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #FFFFFE;
}

/* BARRA PROGRESO */
.container-center {
    margin: 0;
    padding: 0;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.texto-circulos-solo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.texto {
    color: #FFFFFE;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    /* font-size: 16px; */
    font-size: 1.75vw;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
}



.logo {
    max-width: 64px;
    max-height: 64px;
}



.progressbar {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(0%, 0%);
    overflow: hidden;

}

.half-circle,
.half-circle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform-origin: right center;
}

.half-circle:nth-child(1) {
    background-color: #2CB67D;
}

.half-circle:nth-child(2) {
    background-color: #2CB67D;
}

.half-circle-top {
    background-color: #FFFFFE;
}

.progressbar:hover .half-circle:nth-child(1) {
    transform: rotate(180deg);
    transition: transform 1s linear;
}

.progressbar:hover .half-circle:nth-child(2) {
    transform: rotate(360deg);
    transition: transform 2s linear;
}

.progressbar:hover .half-circle-top {
    opacity: 0;
    transition: opacity 0s 1s;
}

.progressbar-circle {
    width: 80px;
    height: 80px;
    background-color: #16161A;
    border-radius: 50%;
    color: #fff;
    font-size: 4rem;
    z-index: 10;
}



@media screen and (max-width:768px) {
    .progressbar {
        width: 96px;
        height: 96px;
    }

    .progressbar-circle {
        width: 80px;
        height: 80px;
    }

    .logo {
        width: 69px;
        height: 69px;
    }
}

