@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background: #16161A;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    overflow-y: hidden;
}

/* header */
header,
main {
    width: 95%;
    margin: auto;
}


.contenedor-top {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenedor-top #contenido-contenedor-top {
    width: 100%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFE;
}

/* main */

.container-principal {
    width: 100%;
    height: 80vh
}

#textoPrincipal-container-principal {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    background: transparent;
    color: #FFFFFE;
    border: transparent;
}

option {
    background: #16161A;
    border: transparent;
}

.contenido-container-principal {
    width: 90%;
    margin: auto;
    padding: 10px 0;
}

.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid #94A1B2;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom:16px;
}

i {
    height: 24px;
    width: 24px;
    color: black;
    margin-right:8px 
}

#correctas{
    color: #2CB67D;
}

#incorrectas{
    color:#EF4565
}

span{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #FFFFFE;
}










/* footer */
#navegacion {
    width: 100vw;
    height: 10vh;
    left: 0;
    background: #232E35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.activo {
    fill: #2CB67D;
}

.inactivo {
    fill: #FFFFFE;
}