@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ESTILOS GLOBALES */
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background: #16161A;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    overflow-y: hidden;
}

header {
    width: 100%;
    height: 10vh;
}

main {
    width: 100%;
    height: 80vh;
}

a{
    list-style: none;
    text-decoration: none;
}


/* contenido header */

.contenedor-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.contenedor-top #contenido-contenedor-top {
    width: 100%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFE;
    padding:16px 0 0 16px
}

/* CONTENIDO MAIN */
.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-perfil {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

#nombre-perfil {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFE;
}

#email-perfil {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFE;
}

#cerrar-sesion {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #EF4565;
}




/* CONTENIDO FOOTER */
#navegacion {
    width: 100vw;
    height: 69px;
    left: 0;
    background: #232E35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.activo{
    fill: #2CB67D;
}

.inactivo{
    fill: #FFFFFE;
}


/* EDITAR PERFIL */

#editarPerfil{
    background: transparent;
    border:none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFE
}

#editarPerfil:hover{
    color:#2CB67D
}

#formulario{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.form-group{
    width: 90%;
    padding: 10px;
    margin: auto;
}

.input-group-text{
    height: 100%;
}

.btn{
    opacity:.5;
    transition: opacity .5s ;
    border: none;
}

.btn:hover{
    background:#2CB67D;
    opacity:1;
}

.text-center{
    color:#FFFFFE;
    opacity:.7;
    margin-top:10px;
    margin-bottom:-5px;
}